@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/*?______________________________________________NAVBAR  */
.bar {
  height: 8vh !important;
}
@media screen and (max-width: 600px) {
  .bar {
    border-style: solid;
    border-width: 2px;
    border-color: #006cfa;
  }
}
.img-avatar {
  max-width: 5vh;
  height: auto;
}
.icon-email {
  font-size: 3vh;
  color: #00ed64 !important;
}

/*?______________________________________________CONTAINER  */
@media screen and (min-width: 601px) {
  .con {
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
}
.box {
  min-height: 76vh !important;
}
.box-little {
  min-height: 38vh !important;
}

/*?______________________________________________BORDERS  */
.border-blue {
  border-style: solid;
  border-width: 2px;
  border-color: #006cfa;
}
.border-flux {
  border-style: solid;
  border-width: 2px;
  border-color: #00ed64;
}

/*?______________________________________________TEXT  */
.text-flux {
  color: #00ed64 !important;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
.text-ultra-lime {
  color: #b2ff01 !important;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
.text-violet {
  color: #7c25ff !important;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
.text-blue {
  color: #006cfa !important;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
.text-subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

/*?______________________________________________BG  */
.bg-flux {
  background-color: #00ed64 !important;
}
.bg-react {
  background-color: #282c34 !important;
}
