.btn-dark {
  background-color: black;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
$red: #e55643;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;

// html {
//   height: 100%;
// }

body {
  font-family: "Fjalla One", sans-serif;
  background: black;
}

.title-container {
  // transform: translate(-50%, -50%);
  // top: 50%;
  // left: 50%;
  // display: block;
  // position: absolute;
  // max-width: 225px;
  // min-height: 500px;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  top: 2vh;
  left: 50%;
  position: relative;

  span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
      $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

.title {
  &:nth-child(1) {
    color: $red;
    font-size: 100px;
    line-height: 80px;
  }
  &:nth-child(2) {
    color: $green;
    font-size: 80px;
    line-height: 60px;
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 60px;
    line-height: 52px;
  }
}

.github {
  transform: translateX(-70%) rotate(10deg);
  display: block;
  float: left;
  top: 10vh;
  left: 50%;
  position: relative;
}
.github {
  &:nth-child(1) {
    // right: auto;
    color: $green;
    font-size: 100px;
    line-height: 72px;
  }
  &:nth-child(2) {
    color: $red;
    font-size: 100px;
    line-height: 90px;
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 60px;
    line-height: 62px;
    transform: translateX(-60%) rotate(10deg);
  }
}

.umbrella {
  transform: translateX(-70%) rotate(10deg);
  display: block;
  float: left;
  top: 15vh;
  left: 50%;
  position: relative;

  // span {
  //   transform: skew(-10deg);
  //   display: block;
  //   float: left;
  //   text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
  //     $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
  //   min-width: 10px;
  //   min-height: 10px;
  //   position: relative;
  // }
}

.umbrella {
  &:nth-child(1) {
    // right: auto;
    color: $green;
    font-size: 340px;
    top: 22vh;
    left: 15vw;
    line-height: 72px;
  }
  &:nth-child(2) {
    color: $yellow;
    font-size: 80px;
    line-height: 60px;
    transform: translateX(-60%) rotate(-20deg);
  }
  &:nth-child(3) {
    color: $red;
    font-size: 30px;
    line-height: 20px;
    transform: translateX(-60%) rotate(10deg);
  }
}
.converter {
  transform: translateX(-70%) rotate(10deg);
  display: block;
  float: left;
  top: 10vh;
  left: 50%;
  position: relative;

  // span {
  //   transform: skew(-10deg);
  //   display: block;
  //   float: left;
  //   text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
  //     $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
  //   min-width: 10px;
  //   min-height: 10px;
  //   position: relative;
  // }
}

.converter {
  &:nth-child(1) {
    // right: auto;
    color: $red;
    font-size: 340px;
    top: 18vh;
    left: 15vw;
    line-height: 72px;
  }
  &:nth-child(2) {
    color: $green;
    font-size: 80px;
    line-height: 60px;
    transform: translateX(-60%) rotate(-20deg);
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 30px;
    line-height: 20px;
    transform: translateX(-60%) rotate(10deg);
  }
}

.much-more {
  transform: translateX(-70%) rotate(10deg);
  display: block;
  float: left;
  top: 10vh;
  left: 50%;
  position: relative;

  // span {
  //   transform: skew(-10deg);
  //   display: block;
  //   float: left;
  //   text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
  //     $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
  //   min-width: 10px;
  //   min-height: 10px;
  //   position: relative;
  // }
}
.much-more {
  &:nth-child(1) {
    // right: auto;
    color: $red;
    font-size: 120px;
    top: 18vh;
    left: 14vw;
    line-height: 100px;
    font-weight: 700;
  }
  &:nth-child(2) {
    color: $green;
    font-size: 80px;
    line-height: 60px;
    top: -5vh;
    left: 10vh;
    transform: translateX(-60%) rotate(-20deg);
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 140px;
    line-height: 20px;
    top: 15vh;
    left: -30%;
    transform: translateX(-60%) rotate(10deg);
  }
}

.linkedin {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  top: 10vh;
  left: 50%;
  position: relative;
}
.linkedin {
  &:nth-child(1) {
    // right: auto;
    color: $green;
    font-size: 90px;
    line-height: 72px;
    font-weight: 600;
  }
  &:nth-child(2) {
    color: $red;
    font-size: 120px;
    line-height: 90px;
    font-weight: 500;
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 50px;
    line-height: 36px;
    top: 6vh;
    transform: translateX(-60%) rotate(10deg);
  }
}

.end {
  transform: translateX(-50%) rotate(-8deg);
  display: block;
  float: left;
  top: 10vh;
  left: 50%;
  position: relative;

  span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
      $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

.end {
  &:nth-child(1) {
    color: $red;
    font-size: 150px;
    line-height: 80px;
    font-weight: 600;
  }
  &:nth-child(2) {
    color: $green;
    font-size: 70px;
    line-height: 60px;
    top: 10vh;
    left: -20%;
  }
  &:nth-child(3) {
    color: $yellow;
    font-size: 100px;
    line-height: 52px;
    font-weight: 600;
  }
}

.coso {
  min-height: 12vh;
}

.text-over-text-fade-title {
  // color: transparent;
  text-shadow: black 0 0 0.1em;
}
.text-over-text-fade {
  // color: transparent;
  text-shadow: black 0 0 0.1em;
}
.text-over-img-fade {
  // color: transparent;
  text-shadow: black 0 0 0.3em;
}

//? _____________________________________________IMAGES
.img-fluid-avatar {
  max-width: 80%;
  height: 80%;
}
.img-fluid-github {
  max-width: 70%;
  height: 70%;
}
.img-fluid-linkedin {
  max-width: 130%;
  height: auto;
}

//? _____________________________________________GRID OF PILLS

.btn-red {
  color: black;
  background: $red;
}
.btn-green {
  color: black;
  background: $green;
}
.btn-yellow {
  color: black;
  background: $yellow;
}
.bg-yellow {
  color: black;
  background: $yellow;
}
.foot-icons {
  background: black;
  color: $yellow;
}

//?______________________________________________ BG ANIMATION COLOR
// @keyframes color-changer {
//   0% {
//     background-color: #ffc107;
//   }
//   50% {
//     background-color: #212529;
//   }
//   100% {
//     background-color: #ffc107;
//   }
// }
// .bg-animation {
//   animation-name: color-changer;
//   animation-duration: 30s;
//   animation-iteration-count: infinite;
// }

// .bg-animation {
//   background: url(https://media.giphy.com/media/1iNIkQBAwEkUuTpikf/giphy.gif);
//   // background: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif);
//   background-size: contain;
//   animation-name: color-changer;
//   animation-duration: 15s;
//   animation-iteration-count: infinite;
// }
// @keyframes color-changer {
//   0% {
//     background-color: #000;
//   }
//   50% {
//     background-color: #000;
//   }
//   75% {
//     background-color: #72727200;
//   }
//   100% {
//     background-color: #000;
//   }
// }

// .txt-animation {
//   animation-name: title-changer;
//   animation-duration: 15s;
//   animation-iteration-count: infinite;
// }
// @keyframes title-changer {
//   0% {
//     color: #f8f9fa;
//   }
//   50% {
//     color: #f8f9fa;
//   }
//   75% {
//     color: #000;
//   }
//   100% {
//     color: #f8f9fa;
//   }
// }
